/* Footer Container */
.footer {
  background-color: #FAF8ED;
  padding: 40px 20px 0; /* Adjust padding to reduce space */
  text-align: center;
}

/* Footer Sections */
.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 0; /* Remove any margin */
}

/* Footer Section */
.footer-section {
  flex: 1;
  min-width: 250px;
  text-align: center;
  margin-bottom: 20px; /* Remove bottom margin */
}

.footer-section h3 {
  font-family: "Domine", serif;
  font-size: 1.5rem;
  color: #954000;
  margin-bottom: 10px;
  border-bottom: 2px solid #954000;
  display: inline-block;
  padding-bottom: 5px;
}

.footer-section p {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  color: #444;
  margin: 5px 0;
}
/* Newsletter Form */
.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.input-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 300px; /* Maximum width for the input form */
}

.newsletter-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%; /* Take up available space */
  padding-right: 40px; /* Space for the button */
}

.newsletter-button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%); /* Vertically center the button */
  background-color: #954000;
  color: white;
  border: none;
  padding: 9px;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter-button:hover {
  background-color: #762d00;
}

/* Error message styling */
.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
  text-align: center;
}


/* Social Icons */
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.social-icon {
  font-size: 2rem;
  color: #954000;
  transition: color 0.3s ease;
  cursor: pointer;
}

.social-icon:hover {
  color: #6b4226;
}