.why-choose-us {
  padding: 50px 20px;
  background-color: #FEF5E1;
  gap: 30px; /* Adds spacing between flex items */
}

.choose-us-content {
  flex: 1 1 50%; /* Flexible width */
  margin-left: 30px;
  margin-right: 20px;
}

.choose-us-content h2 {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  color: #333;
  margin-bottom: 15px;
  font-weight: 600;
}

.choose-us-content p {
  font-size: 1.1rem;
  display:flex;
  justify-content: center;
  color: #555;
  line-height: 1.8;
  margin-bottom: 20px;
}

.choose-us-list {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.choose-us-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.choose-us-number {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f77d42;
  margin-right: 15px;
}

.choose-us-title {
  font-size: 1.1rem;
  color: #333;
}

.choose-us-image {
  flex: 1 1 40%; /* Flexible width for image */
  display: flex;
  justify-content: center;
  align-items: center;
}

.before-after-image {
  width: 100%;
  margin-top: 10%;
  max-width: 350px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

/* Responsive Design */
@media (max-width: 768px) {
  .why-choose-us {
    flex-direction: column; /* Stacks content vertically */
    text-align: center;
  }

  .choose-us-content {
    margin-right: 0;
    flex: 1 1 100%; /* Full width */
  }

  .choose-us-image {
    margin-top: 20px;
    flex: 1 1 100%; /* Full width */
  }

  .before-after-image {
    max-width: 300px; /* Slightly smaller for mobile */
  }
}
